body{
  background-color: black;
}
#iconic{
    color: green;
    text-align: center;
   font-size: 60px;
}

h2{
    color: green;
    text-align: center;
    text-decoration-line: underline;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
     display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
      
  }
  ul{
    color: white;
    text-align: center;
    list-style-type: none
  }
  #shape{
    position: absolute;
    top: 300px;
    right: 425px;
    font-size: larger;
    
  }
  
  #shapeOf{
    position: absolute;
    top: 350px;
    right: 500px;
    font-size: larger;
  }
  
  
  #ed{
    position: absolute;
    top: 400px;
    right: 500px;
    font-size: larger;
  }
  
  /* song 2 */
  #week1{
    position: absolute;
    top: 700px;
    right: 425px;
    font-size: larger;
  }
 
  
  #week2{
    position: absolute;
    top: 750px;
    right: 525px;
    font-size: larger;
  }
  #week3{
    position: absolute;
    top: 800px;
    right: 525px;
    font-size: larger;
  }
  
  /* song3 */
  #monkey1{
    position: absolute;
    top: 1100px;
    right: 425px;
    font-size: larger;
  }
  #monkey3{
    position: absolute;
    top: 1200px;
    right: 525px;
    font-size: larger;
  }
  #monkey2{
    position: absolute;
    top: 1150px;
    right: 525px;
    font-size: larger;
  }
  
  /* song4 */
  #rock1{
    position: absolute;
    top: 1500px;
    right: 425px;
    font-size: larger;
  }
  #rock2{
    position: absolute;
    top: 1550px;
    right: 525px;
    font-size: larger;
  }
  #rock3{
    position: absolute;
    top: 1600px;
    right: 525px;
    font-size: larger;
  }
  
  
  /* song5 */
  #love1{
    position: absolute;
    top: 1900px;
    right: 425px;
    font-size: larger;
  }
  #love2{
    position: absolute;
    top: 1950px;
    right: 525px;
    font-size: larger;
  }
  #love3{
    position: absolute;
    top: 2000px;
    right: 525px;
    font-size: larger;
  }
  
  /* #song6{ */
#dance1{
    position: absolute;
    top: 2300px;
    right: 425px;
    font-size: larger;
}
#dance2{
    position: absolute;
    top: 2350px;
    right: 525px;
    font-size: larger;
}
#dance3{
    position: absolute;
    top: 2400px;
    right: 525px;
    font-size: larger;
}

/* song7 */
#sun1{
    position: absolute;
    top: 2600px;
    right: 425px;
    font-size: larger;
}
#sun2{
    position: absolute;
    top: 2650px;
    right: 525px;
    font-size: larger; 
}
#sun3{
    position: absolute;
    top: 2700px;
    right: 525px;
    font-size: larger;
}

/* song 8 */
#close1{
    position: absolute;
    top: 2900px;
    right: 425px;
    font-size: larger;
}
#close2{
    position: absolute;
    top: 2950px;
    right: 525px;
    font-size: larger;
}
#close3{
    position: absolute;
    top: 3000px;
    right: 525px;
    font-size: larger;
}


/* song 9 */
#sui1{
    position: absolute;
    top: 3200px;
    right: 425px;
    font-size: larger;
}
#sui2{
    position: absolute;
    top: 3250px;
    right: 525px;
    font-size: larger;
}
#sui3{
    position: absolute;
    top: 3300px;
    right: 525px;
    font-size: larger;
}

/* song10 */
#belive1{
    position: absolute;
    top: 3600px;
    right: 425px;
    font-size: larger;
}
#belive2{
    position: absolute;
    top: 3650px;
    right: 525px;
    font-size: larger;
}
#belive3{
    position: absolute;
    top: 3700px;
    right: 525px;
    font-size: larger;
}
.youtube:hover{
   background-color: red;
}
.lycris:hover{
  background-color: green;
}
.wiki:hover{
  text-shadow: 0 0 3px #FF0000;
}
